h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

$body-bg: #ffffff;
$border-radius: 0.3rem;

$theme-colors: (
    "dark": #000802,
    "white": #ffffff,
    "light": #b0b1e9,
    "primary": #302c5c,
    "secondary": #74689d,
    "info": #f84348,
    "success": #15995c,
    "warning": #ddc917,
    "danger": #ea220a,
);


.pointer {
    cursor: pointer;
}


// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
