$body-bg: #e2e2e2;
$border-radius: 0.2rem;

$theme-colors: (
    "dark": #434D36,
    "white": #ffffff,
    "light": #e2e2e2,
    "primary": #284703,
    "secondary": #4A701C,
    "info": #f84348,
    "success": #15995c,
    "warning": #ddc917,
    "danger": #ea220a,
);

.pointer {
    cursor: pointer;
}

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
