$body-bg: #e2e2e2;
$border-radius: 0.5rem;

$theme-colors: (
  "primary": #a22022,
  "secondary": #a22022,
  "dark": #434D36,
  "white": #ffffff,
  "light": #e2e2e2,
  "info": #f84348,
  "success": #15995c,
  "warning": #ddc917,
  "danger": #ea220a,
);

body {
  font-weight: 300 !important;
}

.pointer {
  cursor: pointer;
}

// Then import Bootstrap and BootstrapVue SCSS files (order is important)
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/bootstrap-vue/src/index.scss';
